@font-face {
  font-family: 'webfont';
  src: url('//at.alicdn.com/t/webfont_bldtyemaj1o.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_bldtyemaj1o.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_bldtyemaj1o.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/webfont_bldtyemaj1o.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/webfont_bldtyemaj1o.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}
.web-font {
  font-family: "webfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#box {
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  margin: 15vh auto;
  text-align: center;
}
.avatar {
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 0;
  transition: all 1s;
}
.avatar:hover img {
  height: 50px;
  width: 150px;
  margin-left: -75px;
}
ul {
  padding: 0;
  list-style: none;
}
p {
  font-size: 18px;
  line-height: 20px;
}
li {
  padding: 5px 10px;
  margin: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 3px;
}
li span {
  text-shadow: -2px -2px #333;
}
li a {
  color: #fff;
}
